{% load static tailwind_tags tailwind_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% tailwind_css %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>My Blog - {{title}}</title>
  {% else %}
  <title>My Blog</title>
  {% endif %}
</head>

<body class="">
  <header>
    <nav class="bg-slate-800 pt-5 pb-5 text-slate-50 flex items-center justify-between">
      <div>
        <a class="hover:text-teal-500 mr-1 ml-3" href="/">Blog</a>
        <a class="hover:text-teal-500 mr-1" href="{% url 'blog-home' %}">Home</a>
        <a class="hover:text-teal-500 mr-1" href="{% url 'blog-about' %}">About</a>
      </div>
      <!-- Navbar Right Side -->
      <div class="flex items-center">
      {% if user.is_authenticated %}
        <a class="mr-1 bg-teal-500 text-slate-800 rounded-md p-2" href="{% url 'post-create' %}">New Post</a>
        <a class="hover:text-teal-500 mr-2" href="{% url 'logout' %}">Logout</a>
        <a class="hover:text-teal-500 mr-2" href="{% url 'profile' %}">Profile</a>
        {% else %}
        <a class="hover:text-teal-500 mr-1" href="{% url 'login' %}">Login</a>
        <a class="hover:text-teal-500 mr-1" href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </nav>
  </header>
  <main role="main" class="container p-5">
    <div class="">
      <div class="">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
</body>

</html>