{% extends "blog/base.html" %} {% block content %} {% for post in posts %}
<article class="">
  <img class="" src="{{ post.author.profile.image.url }}">
  <div class="">
    <div class="">
      <a class=""  href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
      <small class="">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2><a class="" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="">{{ post.content }}</p>
  </div>
</article>
{% endfor %}
{% if is_paginated%}
  {% if page_obj.has_previous %}
    <a class="border p-1 rounded" href="?page=1"><<</a>
    <a class="border p-1 rounded" href="?page={{page_obj.previous_page_number}}"><</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="border-2 p-1 rounded text-teal-500 border-teal-500" href="?page={{num}}">{{num}}</a> 
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'  %}
      <a class="border p-1 rounded" href="?page={{num}}">{{num}}</a> 
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a class="border p-1 rounded" href="?page={{page_obj.next_page_number}}">></a>
    <a class="border p-1 rounded" href="?page={{page_obj.paginator.num_pages}}">>></a>
  {% endif %}

{% endif %}
{% endblock content %}